body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.Nav-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-link {
  color: #ffffff;
}

.App {
  background-image: url("../images/eucalyptus-upper.png");
  height: 678px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.save-the-date,
.details {
  color: #5d684b;
  font-weight: 200;
}

.add-to-calendar,
.add-to-calendar-dropdown,
.add-to-calendar-dropdown a {
  color: #5d684b;
}

.add-to-calendar-dropdown ul {
  list-style: none;
  padding-inline-start: 0;
}

.save-the-date {
  margin: 0;
  font-size: 25px;
  padding-top: 400px;
}
