# Dependencies
node_modules/
jspm_packages/
bower_components

# testing
lib-cov
/coverage

# production
/build
typings/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# cache
.npm
.eslintcache
.node_repl_history

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
